# prime number

In [5]:
Number = int(input(" Please Enter any Number: "))

print("Prime numbers between", 1, "and", Number, "are:")

for num in range(1, Number + 1,2):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

 Please Enter any Number: 71
Prime numbers between 1 and 71 are:
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

# string functions

In [6]:
sample_str = 'Python String'
print (sample_str[0])       # return 1st character

P

In [7]:
print (sample_str[-1])      # return last character
# output:

g

In [8]:
sample_str = 'Python String'
print (sample_str[3:5])	    #return a range of character

ho

In [9]:
var1 = 'Python'
var2 = 'String'
print (var1+var2)

PythonString

In [10]:
var1 = 'Python'
print (var1*3)

PythonPythonPython

In [11]:
var1 = 'Python'
print (var1[2])

t

In [12]:
var1 = 'Python'
print (var1[2:5])

tho

In [13]:
var1 = 'Python'
print ('n' in var1)

True

In [14]:
var1 = 'Python'
print ('N' not in var1)

True

In [15]:
for var in var1: print (var, end ="")

Python

In [16]:
print ("Employee Name: %s,\nEmployee Age:%d" % ('Ashish',25))

Employee Name: Ashish,
Employee Age:25

In [18]:
var = 'PYTHON'
print (var.capitalize())

Python

In [19]:
var = 'TechBeamers'
print (var.lower())

techbeamers

In [20]:
var = 'TechBeamers'
print (var.upper())

TECHBEAMERS

In [21]:
var = 'TechBeamers'
print (var.swapcase())

tECHbEAMERS

In [22]:
var = 'welcome to Python programming'
print (var.title())

Welcome To Python Programming

# Palindrome and anagram

In [42]:
def checkAnagram(word1, word2):
    listWord1 = list(word1)
    listWord1.sort()
    listWord2 = list(word2)
    listWord2.sort()
    return (listWord1 == listWord2)

print(checkAnagram("face", "cafe"))
print(checkAnagram("face", "caffe"))


def isPalindrome(s): 
    return s == s[::-1] 
  
  
# Driver code 
s = "malayalam"
ans = isPalindrome(s) 
  
if ans: 
    print("Yes") 
else: 
    print("No")

True
False
Yes

# Question 4

In [43]:
def printme(string):
    b = "!@#$"
    for i in b:
        string = string.replace(i,"")
        string.replace(" ", "")
        string.lower()
    result = printme("")
    return result